[submodule "6th_Semester/Mobile_App_Development/BasketballStats-backend"]
	path = 6th_Semester/Mobile_App_Development/BasketballStats-backend
	url = git@github.com:Matzi24GR/BasketballStats-backend.git
[submodule "6th_Semester/Mobile_App_Development/BasketballStats-androidApp"]
	path = 6th_Semester/Mobile_App_Development/BasketballStats-androidApp
	url = git@github.com:Matzi24GR/BasketballStats-androidApp.git
[submodule "4th_Semester/Software_Engineering/foititopoli"]
	path = 4th_Semester/Software_Engineering/foititopoli
	url = git@github.com:UoM2021-CSC402-Team15/foititopoli.git
[submodule "5th_Semester/Artificial_Inteligence/Assignment#1-KnuthConjecture"]
	path = "5th_Semester/Artificial_Inteligence/Assignment#1-KnuthConjecture"
	url = https://github.com/Matzi24GR/KnuthConjecture
